<%# coding: UTF-8 -%>
<form method="post" action="<%= @form_action || "login" %>" id="login-form" onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;">
  
  
  <input type="text" id="username" name="username" size="32" tabindex="1" accesskey="u" placeholder="Nombre de usuario o Email" />
  <input type="password" id="password" name="password" size="32" tabindex="2" accesskey="p" autocomplete="off" placeholder="Contraseña" />
  
  <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
  <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
  <input type="submit" class="btn btn-warning" accesskey="l" value="ENTRAR" tabindex="4" id="login-submit" />

</form>

<div class="row">
  <div class="span3 offset3">
    <a href="/auth/twitter">
      <img src="/twitter-connect.png" id="logo-login"/>
    </a>
  </div>
  <div class="span3">
    <a href="/auth/facebook">
      <img src="/facebook-connect.png" id="logo-login"/>
    </a>
  </div>
</div>

<div class="row">
  <div class="span4 offset4 text-center">
    <a href="http://www.redinnovacion.org/passwords/new">Recuperar Contraseña</a>
  </div>
</div>
