<%# coding: UTF-8 -%>
<% if @message %>
  <div class="row">
    <div class="span12">
      <div class="alert <%= escape_html @message[:type] %>">
        <%= escape_html @message[:message] %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= erb(:_login_form, :layout => false) %>
  </div>
</div>